@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
 
}
#coolal {
  z-index: 100;
  display: block;
  position: fixed;
  top: calc(100% / 2);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  padding-top: 25px;
  width: 350px;
  opacity: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
#coolal .coolal-text {
  text-align: left;
}
#coolal .coolal-title, #coolal .coolal-text, #coolal #coolal-btnWrapper {
  margin: 0;
  padding: 5px;
  color: #171717;
  font-size: 1.3em;
  text-decoration: none;
}
#coolal .coolal-title {
  font-weight: bold;
}
#coolal .coolal-text {
  margin-top: -10px;
  padding-bottom: 20px;
  font-size: 1em;
  border-bottom: 0;
}
#coolal #coolal-btnWrapper {
  display: block;
  padding: 0;
  border-top: 1px solid #aaa;
  border-bottom: 0;
}
#coolal #coolal-btnWrapper a {
  display: inline-block;
  margin: 0;
  padding-top: 9px;
  height: 37px;
  color: #09f;
  text-decoration: none;
}
#coolal #coolal-btnWrapper a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#coolal .coolal-alert {
  width: 100%;
  border-radius: 0 0 8px 8px;
}
#coolal .coolal-yes-no {
  width: calc( 100% / 2 - 1px);
}
#coolal .coolal-yes-no:first-child {
  border-right: 1px solid #aaa;
  border-radius: 0 0 0 8px;
}
